<%- include('includes/header.ejs'); %>

    <section class="container">
        <h1><%= titulo %></h1>
        <h1><%= umaVariavelLocal %></h1>
        <form action="/" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label> Nome </label>
            <input type="text" name="cliente">
            <button>Enviar</button>
        </form>
    </section>

<%- include('includes/footer.ejs'); %>